/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 35%;
  width: 100%;
  text-align: center;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #333333;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  display: block;
  opacity: 0.4;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 768px) {
  .carousel-caption {
    top: 5%;
  }

  .carousel-caption p {
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 1.4;
  }

  .carousel-caption h1 {
    font-size: 25px;
  }

  .carousel {
  height: 200px;
  margin-top: 60px;
  margin-bottom: 60px;
  }

  /* Declare heights because of positioning of img element */
  .carousel .item {
    height: 200px;
    background-color: #333333;
  }
  .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    display: block;
    opacity: 0.2;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {

  .featurette-heading {
    margin-top: 120px;
  }
}
